<div th:fragment="search" class="search-wrapper section-padding-100" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="search-close">
        <i class="fa fa-close" aria-hidden="true"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="search-content">
                    <form action="#" method="get">
                        <input type="search" name="search" id="search" placeholder="Type your keyword...">
                        <button type="submit"><img th:src="@{photos/core-img/favicon.ico}" alt=""></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>